/*
Welcome to Custom CSS!

CSS (Cascading Style Sheets) is a kind of code that tells the browser how
to render a web page. You may delete these comments and get started with
your customizations.

By default, your stylesheet will be loaded after the theme stylesheets,
which means that your rules can take precedence and override the theme CSS
rules. Just write here what you want to change, you don't need to copy all
your theme's stylesheet content.
*/

/* infinite-scroll */
#infinite-handle {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    clear: both;
    float: none;
    margin: 0 auto;
    margin-bottom: 2rem;
    text-align: center;
}
#infinite-handle span{
    vertical-align: baseline;
    vertical-align: middle; 
    font-family: inherit;
    line-height: inherit;     
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5; 
    color: #343434;
    background-color: #FFFFFF;   
    clear: both;
    float: none;
    margin: 0 auto;
    max-width: 100%;
}
#infinite-handle span {
    text-align: center;
    padding: 1rem 1.6rem;
    background-image: none;
    border: 0.1rem solid #C5C5C5;
    outline: 0;
    border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
}
#infinite-handle span:hover, 
#infinite-handle span:focus, 
#infinite-handle span:active {
    color: #343434;
    background-color: #F5F5F5;
    border-color: #C5C5C5;
    outline: 0;
}
.spinner {
    clear: both;
    float: none;
    padding: 0;
    margin: 0 auto;
    display: block;
    left: 0!important;
    top: 0!important;
}
#infinite-footer {
    display: none;
}


/* Overall Sharedaddy block title */
div.sharedaddy,
#content div.sharedaddy,
#main div.sharedaddy {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 2rem;
    text-align: center;
}


/* Related Posts */
.div#jp-relatedposts{
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    margin: 2rem auto;
}
div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-title a:hover,
div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-title a:focus,
div#jp-relatedposts div.jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-title a:active {
    text-decoration: none;
}